<%
@store = site.stores.first
@features ||= site.features.visibles
@products = @store.products.active.all
images = site.homes.first.images
%>


<% content_for :page_container do %>
<section class='body square'>
	<section id="lookbook" class="parallax" style="background-image: url('<%= images[0].thumbnail().url %>');">
		<div class="row-fluid">
			<div class="span8">&nbsp;</div>
			<div class="span4">
				<div class="half title">
					<h1 class='parallax-title'><%= "LookBook".html_safe %></h1>
					<p class="desc"><%= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.".html_safe %></p>
				</div>
				<div class="half">
				<% if @features.any? %>
					<%= render 'shared/carousel', :features => @features %>
				<% end %>
				</div>
			</div>
		</div><!--row-->
	</section><!--section-->
	<% @store.available_categories.each_with_index do |category, index| %> 
	<% 
		image_url = images[index + 1].thumbnail().url
		products = @store.products.active.randoms(3) 
		product_images = products.map {|p| p.thumbnail if p.thumbnail }
	%>
	<section id="<%= category.name %>" class="parallax" style="background-image: url('<%= image_url %>');">
		<div class="row-fluid">
			<div class="span8">&nbsp;</div>
			<div class="span4">
				<div class="half title">
					<h1 class='parallax-title'><%= link_to(category.title, store_category_path(@store, category))%></h1>
					<p class="desc"><%= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.".html_safe %></p>
					<p class='parallax-title'><%= link_to("Tout voir", store_category_path(@store, category)) %></p>
				</div>
				<div class="half">
					<div class="carousel" id="<%= "carousel_#{index}" %>">
					  <!-- Carousel items -->
					  <div class="carousel-inner">
					  <% product_images.each_with_index do |img, index| %> 
					    <div class="item <%= 'active' if index == 0 %>">
					      <%= image_fu(img, "400x300", :rel => "external") %>
					    </div>
					  <% end %>
					  </div>
					  <!-- Carousel nav -->
					  <a class="carousel-control left" href="#<%= "carousel_#{index}" %>" data-slide="prev">&lsaquo;</a>
					  <a class="carousel-control right" href="#<%= "carousel_#{index}" %>" data-slide="next">&rsaquo;</a>
					</div>
				</div>
			</div>
		</div><!--row-->
	</section><!--section-->
	<% end %>
	<section class="about">
		<%= render_html_text( resource.body) if resource.body.present? %>
	</section><!--section-->
	
</section>
<% end %>

