<%
@store = site.stores.first
@features ||= site.features.visibles
@products = @store.products.active.all
images = site.homes.first.images
%>
<% content_for :page_container do %>
<section class='body alt'>
	<section id="lookbook" class="parallax" style="background-image: url('<%= images[0].thumbnail().url %>');">
		<div class="row-fluid">
			<div class="span8">&nbsp;</div>
			<div class="span3">
				<div class="half title">
					<h1 class='parallax-title'><%= "LookBook".html_safe %></h1>
					<p ><%= "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.".html_safe %></p>
				</div>
				<div class="half">
				<% if @features.any? %>
					<%= render 'shared/carousel', :features => @features %>
				<% end %>
				</div>
			</div>
			<div class="span1">&nbsp;</div>
		</div><!--row-->
	</section><!--section--> 
	<section class="parallax" style="background-image: url('<%= images[1].thumbnail().url %>');">
		<div class="row-fluid">
			<div class="span6">&nbsp;</div>
			<div class="span6">
				<div id="tahitian-black-pearl" class="half">
					<%= link_to("Tahitian Black Pearl", store_category_path(@store, @store.categories.first))%>
				</div>
				<div id="tahitian-black-pearl" class="half">
					<%= link_to("Tahitian Black Pearl", store_category_path(@store, @store.categories.first))%>
				</div>
			</div>
		</div><!--row-->
	</section><!--section-->
    <section class="parallax" style="background-image: url('<%= images[2].thumbnail().url %>');">
		<div class="row-fluid">
			<div class="span12">
		  		<section class='products'>
					<div class='collection-container'>
						<% if @products.try(:any?) %>
							<ul class="grid grid4 grid-products">
								<%= render :partial => "products/record", :collection => @products, :as => :record %>
							</ul>
							
					    <%= render 'shared/pagination', :entries => @products %>
						<% else %>
							<%= render "no_records_found" %>
					  	<% end %> 
					</div>
				</section>
        	</div>
		</div><!--row-->
    </section><!--section-->   
	<section class="about">
		<%= render_html_text( resource.body) if resource.body.present? %>
	</section><!--section-->
	
</section>
<% end %>

