<%
@store = site.stores.first
@categories = @store.available_categories
@images = site.homes.first.images
%>

	<section id="cover" class="background-image fullscreen" style="background-image: url('<%= @images.shift.thumbnail().url %>');">
		<div id="logo"></div>
		<p  class='headline'><%= t(:"home.citation").html_safe %></p>
		<div class="circles">
			<div class="circle circle1"></div>
			<div class="circle circle2"></div>
			<div class="circle circle3"></div>
		</div>
	</section><!--section-->
	<% @categories.each_with_index do |category, index| %> 
	<% 
		bg_url = @images.shift.thumbnail().url
		 
		bg2_url = @images.shift.thumbnail().url
		product_img_url = @images.shift.thumbnail("300x300#").url
		products = @store.products.active.with_translations(I18n.locale).categorized(category.id)
	%>
		<% if category.body.present? %>
		<section class="parallax background-image fullscreen" style="background-image: url('<%= bg_url %>');">
			<h3 class='headline'><%= category.body.html_safe %></h3>
		</section><!--section-->
		<% end %>
		<section id="<%= category.name %>" class="parallax background-image fullscreen" style="background-image: url('<%= bg2_url %>');">
			<div class='parallax-inner'>
				<div class='parallax-item active'>
					<div class="pod ss-left">
						<h1 class='pod-title'><%= link_to(category.title, store_path(@store))%></h1>
						<img src='/assets/apos2.png' class='decoration'>
						<img src='/assets/apos2blur.png' class='decoration blur'>
					</div>
					<div class="pod ss-right">
						<div class="pod-carousel">
							<img src="<%= product_img_url %>" rel="external">
							<%= link_to("&#10217;".html_safe, store_path(@store), :class => 'view-all', :'data-remote' => true) %>
						</div>
					</div><!--pod-->
				</div>
				<div class='parallax-item products'>
					<div class='bg'></div>
					<a class='back' href="#">&#10216</a>
					<div class="tj_container">
						<div class="tj_wrapper">
						<% if products.try(:any?) %>
							<ul class="tj_gallery">
								<% products.each do |p| %>
								<li>
									<a class="tj_gallery_inner" href="<%= url_for([p.section, p]) %>" data-remote="true">
										<%= image_fu(p.thumbnail, "286x286#") %>
										<div class="tj_mask"></div>
										<div class="tj_content">
											<h2><%= p.title %></h2>
											<p><%= indivisible_number_to_currency(p.price, :unit => site.preferred_currency).html_safe %></p>
											<%= render_record_description(p, 80, " &#8594;") %>
									    </div>
									</a>
								</li>				
								<% end %>
							</ul>
						<% else %>
							<%= render "no_records_found" %>
					  	<% end %>
						</div>
						
						<div class="tj_nav">
							<a class="tj_prev" href="#">&#8592</a>
							<div class="tj_nav_container"></div>
							<a class="tj_next" href="#">&#8594</a>
						</div>
					</div>
				</div>
				<div class='parallax-item product'>
					<div class='bg'></div>
					<a class='back' href="#">&#10216</a>
					<div class='content'></div>
				</div>
			</div>
		</section><!--section-->

	<% end %>
	<section id="about" class="background-image" style="background-image: url('<%= @images.shift.thumbnail().url %>');">
		<div class="row-fluid">
			<div class="span12">
				<%= render_html_text( resource.body) if resource.body.present? %>
			</div>
		</div><!--row-->
	</section><!--section-->


