
<% content_for :after_javascript_libraries  do %>
	<%= javascript_include_tag "home" %>
<% end %>

<%
@store = site.store
@categories = @store.categories.translated
@images = site.home.images
%>
<% content_for :page_container do %>
<% cache([site, I18n.locale, @store]) do %>
	<section id="cover" class="row-fluid background-image fullscreen" style="background-image: url('<%= @images.shift.thumbnail("1024x800#").url %>');">
		<div id="logo"></div>
	</section><!--section-->
	<% @categories.each_with_index do |category, index| %> 
	<% 
		bg_url = @images.shift.thumbnail("1024x800#").url
		 
		bg2_url = @images.shift.thumbnail("1024x800#").url
		product_img_url = @images.shift.thumbnail("300x300#").url
		products = @store.products.active.with_translations(I18n.locale).categorized(category.id)
	%>
		<% if category.body.present? %>
		<section class="row-fluid parallax background-image fullscreen" style="background-image: url('<%= bg_url %>');">
			<h3 class='headline'><%= category.body.html_safe %></h3>
		</section><!--section-->
		<% end %>
		<section id="<%= category.name %>" data-state="category" class="row-fluid parallax background-image fullscreen <%= category.name %>" style="background-image: url('<%= bg2_url %>');">
			<div class='parallax-inner fullscreen'>
				<div class='parallax-item category active fullscreen'>
					<div class="pod ss-left">
						<h1 class='pod-title'><%= link_to(category.title.html_safe, store_path(@store))%></h1>
						<img src='/assets/apos2.png' class='decoration'>
						<img src='/assets/apos2blur.png' class='decoration blur'>
					</div>
					<div class="pod ss-right">
						<div class="pod-carousel">
							<img src="<%= product_img_url %>" rel="external">
							<%= link_to("&#10217;".html_safe, store_path(@store), :class => 'view-all', :'data-remote' => true) %>
						</div>
					</div><!--pod-->
				</div>
				<div class='parallax-item products fullscreen'>
					<div class='bg'></div>
					<a class='back' href="#">&#10216</a>
					<div class="tj_container">
						<div class="tj_wrapper">
						<% if products.try(:any?) %>
							<ul class="tj_gallery grid.grid4">
								<% products.each do |p| %>
								<li>
									<a class="tj_gallery_inner" href="<%= url_for([p.section, p]) %>" data-remote="true">
										<%= image_fu(p.thumbnail, "286x286#") %>
										<div class="tj_mask"></div>
										<div class="tj_content">
											<h2><%= p.title %></h2>
											
											<%= render_record_description(p, 80, " &#8594;") %>
									    </div>
									</a>
								</li>				
								<% end %>
							</ul>
						<% else %>
							<%= render "no_records_found" %>
					  	<% end %>
						</div>
						
						<div class="tj_nav">
							
							<a class="tj_prev" href="#">&#8249;</a>
							<span class="tj_nav_container"></span>
							<a class="tj_next" href="#">&#8250;</a>
						</div>
					</div>
				</div>
				<div class='parallax-item product fullscreen'>
					<div class='bg'></div>
					<a class='back' href="#">&#10216</a>
					<div class='content'></div>
				</div>

			</div>
		</section><!--section-->

	<% end %>
	<section id="about" class="row-fluid background-image" style="background-image: url('<%= @images.shift.thumbnail("1024x800#").url %>');">
		<div class="row-fluid">
			<div class="span12">
				<%= render_html_text( resource.body) if resource.body.present? %>
			</div>
		</div><!--row-->
	</section><!--section-->
<% end %> 
<% end %>

