<%
@store = site.stores.first
@categories = @store.available_categories
@images = site.homes.first.images
%>
<% content_for :page_container do %>
<div id='parallaxs'>
	<section id="cover" class="background-image fullscreen centered" style="background-image: url('<%= @images.shift.thumbnail().url %>');">
		<div id="logo"></div>
		<p  class='headline'><%= '« Un trésor, hormis le fait d’être rêvé, n’existe que pour être découvert. »<br/>Audiberti'. html_safe%></p>
		<div class="circle circle1"></div>
		<div class="circle circle2"></div>
		<div class="circle circle3"></div>
	</section><!--section-->
	<% @categories.each_with_index do |category, index| %> 
	<% 
		bg_url = @images.shift.thumbnail().url
		 
		bg2_url = @images.shift.thumbnail().url
		product_img_url = @images.shift.thumbnail("300x300#").url
		products = @store.products.active.with_translations(I18n.locale).categorized(category.id)
	%>
		<% if category.body.present? %>
		<section class="parallax background-image fullscreen" style="background-image: url('<%= bg_url %>');">
			<div class="row-fluid">
				<div class="span12">
					<h3 class='headline'><%= category.body.html_safe %></h3>
				</div>
			</div>
		</section><!--section-->
		<% end %>
		<section id="<%= category.name %>" class="parallax background-image fullscreen" style="background-image: url('<%= bg2_url %>');">
			<div class='parallax-inner'>
				<div class='parallax-item active'>
					<div class="pod ss-left">
						<h1 class='pod-title'><%= link_to(category.title, store_path(@store))%></h1>
					</div>
					<div class="pod ss-right">
						<div class="pod-carousel">
							<img src="<%= product_img_url %>",rel="external">
							<%= link_to("Tout voir", store_path(@store), :class => 'view-all', :'data-remote' => true) %>
						</div>
					</div><!--pod-->
				</div>
				<div class='parallax-item products'>
					<div class='bg'></div>
					<div class="row-fluid">
						<div class="span12">
							<div style='min-height: 30px;'><a class='close'>back</a></div>
						</div><!--row-->
					</div>
					<div class="row-fluid">
						<div class="span12">
						<% if products.try(:any?) %>
							<%= grid_tag(@store.preferred_column_count) do %>
								<%= render :partial => "products/record", :collection => products, :as => :record %>
							<% end %>
						<% else %>
							<%= render "no_records_found" %>
					  	<% end %>
						</div>
					</div><!--row-->
				</div>
				<div class='parallax-item product'>
					<div class='bg'></div>
					<div class="row-fluid" style="z-index: 1;">
						<div class="span12">
							<div style='min-height: 30px;'><a class='close'>back</a></div>
						</div><!--row-->
					</div>
					<div class="row-fluid" style="position:relative; z-index: 1;">
						<div class="span12">
							<div class='content'></div>
						</div>
					</div><!--row-->
				</div>
			</div>
		</section><!--section-->

	<% end %>
	<section id="about" class="background-image " style="background-image: url('<%= @images.shift.thumbnail().url %>');">
		<%= render_html_text( resource.body) if resource.body.present? %>
	</section><!--section-->
</div>
<% end %>

